h1 { 
    font-family: 'Play', sans-serif; 
    font-size: 50px;
    font-weight:bold;
}

#main-head {
    -webkit-animation-duration: 0.95s; 
    line-height: 1em;
}

nav {
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    z-index: 0;
    -webkit-animation-duration: 0.7s;
}

nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
}

nav ul li {
    display: inline-block;
    border-color: black;
}

nav ul li a {
    padding: 18px;
    font-family: "Play";
    text-transform:uppercase;
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    transition: 0.2s;
    font-weight: bolder;
}


/* ============= Animations for the 2nd set of headers =========== */
h2 {
    font-weight: normal;
    white-space: nowrap;
}

#first-head {
    -webkit-animation: slide-right 8s infinite ease-in-out;
    animation: slide-right 8s infinite ease-in-out;
    position: absolute;
    width: 100%;
    margin-top: auto;

}

#second-head {
    -webkit-animation: slide-left 8s infinite ease-in-out;
    -webkit-animation-delay: 5s;
    animation: slide-left 8s infinite ease-in-out;
    animation-delay: 4s;
    margin-left: -185%;
    position: absolute;
    width: 100%;
    margin-top: auto;
}

@keyframes slide-right {
    0% {margin-left: 100%;}
    10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50% {margin-left: 0%;}
    55%, 60%, 65%, 70%, 75%, 80%, 85%, 90%, 100% {margin-left: 100%;}
}

@-webkit-keyframes slide-right {
    0% {margin-left: 100%;}
    10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50% {margin-left: 0%;}
    55%, 60%, 65%, 70%, 75%, 80%, 85%, 90%, 100% {margin-left: 100%;}
}

@keyframes slide-left {
    0% {margin-left: -185%;}
    10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50% {margin-left: 0%;}
    55%, 60%, 65%, 70%, 75%, 80%, 85%, 90%, 100% {margin-left: -185%;}
}

@-webkit-keyframes slide-left {
    0% {margin-left: -185%;}
    10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50% {margin-left: 0%;}
    55%, 60%, 65%, 70%, 75%, 80%, 85%, 90%, 100% {margin-left: -185%;}
}
/* ======================================================== */

body{
    background-color:black;
    margin: 0;
    font-family: 'Play', sans-serif; 
    font-size: 16px;
    overflow:hidden;
}

.main-text{
    color: white;
    position:fixed;
    text-align: center;
    top: 40%;
    width: 100%;
    line-height: 0.4em;
    border: 1px;
}

.main-buttons{
    position: absolute;
    text-align: center;
    top: 160%;
    width: 100%;
    line-height: 0.4em;
    -webkit-animation-duration: 0.95s;
}

/* ============= BUTTONS ============= */
.btn{
    color: white;
    text-decoration: none;
    border: #ccc 1px solid;
    padding: 10px 12px;
    border-radius: 8px;
    line-height: 0.4em;
    margin-top: 100%;
    transition: 0.1s;
}

.btn:hover{
    background-color:gray;
    border: #fff 1px solid;
    transition: 0.1s;
    padding: 16px 18px;
    opacity: 0.9;
    font-weight: bolder;
}

@keyframes fadeOutOpacity {
	0% {opacity: 0;}
	100% {opacity: 0;}
}

#particles-js{
    background-image: url();
    height: 120vh;
}

/* ================ ABOUT ME SECTION ============== */
#about_me_section{
    color: white;
    position:fixed;
    text-align:left;
    top: 20%;
    width: 100%;
    border: 1px;
    margin-left: 100px;
}

#about_me_head{
    font-weight: 1000;
    color: white;
    font-size: 32px;
    position:relative;
    width: 100%;
    text-align: left;
    display: block;
}

#about_me_text_1{
    color: white;
    font-size: 20px;
    line-height: 1.75em;
    padding-right: 100px;
    text-overflow: ellipsis;
    animation-delay: 3.8s;
    width: 45%;
    text-align: left;
}

.grid-d {
    display:inline-flex;                   
    flex-wrap: wrap;                     
    justify-content:space-between;
    flex-wrap: nowrap;
    animation-delay: 4.5s;
}

.cell-d1, .cell-d2, cell-d3 {
    flex: 0 0 32%;                       
    margin-bottom: 5px;
}

.cell-d3 {
    animation-delay: 6.2s;
}

.cell-d2 {
    animation-delay: 5.5s;
}

.cell-d1 {
    animation-delay: 4.7s;
}

#langs #vcs #tools {
    float: left;
    text-overflow: ellipsis;
}

.typewriter h2 {
    text-align: left;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #fff; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(45, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100%;}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #fff;}
}

/* ================ EXPERIENCE SECTION ============== */
#experience_section{
    color: white;
    position:absolute;
    text-align:left;
    top: 20%;
    width: 100%;
    line-height: 0.4em;
    border: 1px;
    margin-left: 100px;
}

#experience_head{
    color: white;
    font-size: 32px;
}

#experience_text{
    color: white;
    font-size: 20px;
}

