h1 { 
    font-family: 'Exo', sans-serif; 
    font-size: 50px;
    font-weight:bold;
}

#main-head {
    -webkit-animation-duration: 0.95s; 
    line-height: 1em;
}

nav {
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    z-index: 0;
    -webkit-animation-duration: 0.7s;
    display:block;
    position: relative;
    top:0;
    width: 100%;
}

nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
}

nav ul li {
    display: inline-block;
    border-color: black;
}

nav ul li a, .item {
    padding: 12px;
    font-family: "Exo";
    text-transform:uppercase;
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover, .active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    transition: 0.2s;
    color: lightgray;
}


/* ============= Animations for the 2nd set of headers =========== */
h2 {
    font-weight: normal;
    white-space: nowrap;
}

#first-head {
    -webkit-animation: slide-right 8s infinite ease-in-out;
    animation: slide-right 8s infinite ease-in-out;
    position: absolute;
    width: 100%;
    margin-top: auto;

}

#second-head {
    -webkit-animation: slide-left 8s infinite ease-in-out;
    -webkit-animation-delay: 5s;
    animation: slide-left 8s infinite ease-in-out;
    animation-delay: 4s;
    margin-left: -185%;
    position: absolute;
    width: 100%;
    margin-top: auto;
}

@keyframes slide-right {
    0% {margin-left: 100%;}
    10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50% {margin-left: 0%;}
    55%, 60%, 65%, 70%, 75%, 80%, 85%, 90%, 100% {margin-left: 100%;}
}

@-webkit-keyframes slide-right {
    0% {margin-left: 100%;}
    10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50% {margin-left: 0%;}
    55%, 60%, 65%, 70%, 75%, 80%, 85%, 90%, 100% {margin-left: 100%;}
}

@keyframes slide-left {
    0% {margin-left: -185%;}
    10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50% {margin-left: 0%;}
    55%, 60%, 65%, 70%, 75%, 80%, 85%, 90%, 100% {margin-left: -185%;}
}

@-webkit-keyframes slide-left {
    0% {margin-left: -185%;}
    10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50% {margin-left: 0%;}
    55%, 60%, 65%, 70%, 75%, 80%, 85%, 90%, 100% {margin-left: -185%;}
}
/* ======================================================== */

body{
    background-color:black;
    margin: 0;
    font-family: 'Exo', sans-serif; 
    font-size: 16px;
    overflow-y: auto;
    font-size-adjust: none;
}

.main-text{
    color: white;
    position:fixed;
    text-align: center;
    top: 40%;
    width: 100%;
    line-height: 0.4em;
    border: 1px;
}

.main-buttons{
    position: absolute;
    text-align: center;
    top: 140%;
    width: 100%;
    -webkit-animation-duration: 0.95s;
}

i {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

#particles-js{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
}

/* ================ ABOUT ME SECTION ============== */
#about_me_section{
    color: white;
    position:relative;
    text-align:center;
    top: 2vw;
    width: 95%;
    background-color: rgba(105,105,105,0.5);
    margin:auto;
    overflow-x: hidden;
    border: 10px solid rgba(255,255,255,0.4);
}

#about_me_head{
    font-weight: 1000;
    color: white;
    font-size: 40px;
    width: 100%;
    line-height: 0.5em;
    text-align: center;
}

#about_me_text{
    color: white;
    font-size: 20px;
    line-height: 1.25em;
    text-overflow: ellipsis;
    animation-delay: 0.8s;
    width: 100%;
    text-align: center;
    animation-delay: 0.8s;
}

.grid-c {
    display:inline-block;                                      
    width: 95%; 
    padding-left: 30px;
}

.cell-c2 {
    animation-delay: 0.8s;
    align-self:center;
    width:35%; 
    height: auto;
/*    border-radius: 10%;*/
}

/* ================ EXPERIENCE SECTION ============== */
#experience_section {
    color: white;
    position:relative;
    text-align:center;
    top: 2vw;
    width: 95%;
    background-color: rgba(105,105,105,0.5);
    margin:auto;
    overflow-x: hidden;
    border: 10px solid rgba(255,255,255,0.4);
}

#experience_head{
    font-weight: 1000;
    color: white;
    font-size: 40px;
    width: 100%;
    line-height: 0.5em;
    text-align: center;
}

#work-container, #volunteer-container{
    animation-delay: 0.8s;
}

#work-head, #volunteer-head{
    color: white;
    font-size: 28px;
    text-align: left;
    margin-left: 20px;
}

.heads {
    font-size: 20px;
    text-align: left;
    margin-left:64px;
}

.bullet-group {
    text-align: left;
    margin-left:64px;
    display:block;
    font-size:18px;
}

#skills-head {
    font-size: 22px;
    text-align: center;
    margin-left: 20px;
}

.grid-d {
    display:inline-flex;                   
    flex-wrap: wrap;                     
    justify-content:space-around;
    flex-flow:row;
    width: 100%;
    text-align: center;
}

#languages, #tools_frame, #other_frame {
    text-align: center;
}

.unorder {
    display:table; 
    margin:0 auto;    
    text-align: left;
}

.cell-d1, .cell-d3, .cell-d4 {
    flex: 1 0 21%;   
    padding-bottom: 15px;
    font-size: 18px;
}

#langs #vcs #tools #other {
    float: left;
    text-overflow: ellipsis;
}

/*=============== PROJECT SECTION ====================*/
#project_section {
    color: white;
    position:relative;
    text-align:center;
    top: 2vw;
    width: 95%;
    background-color: rgba(105,105,105,0.5);
    margin:auto;
    overflow-x: hidden;
    border: 10px solid rgba(255,255,255,0.4);
}

#project-head {
    font-weight: 1000;
    color: white;
    font-size: 40px;
    width: 100%;
    line-height: 0.5em;
    text-align: center;
}

#proj1-head, #proj2-head, #proj3-head {
    color: white;
    font-size: 28px;
    text-align: left;
    margin-left: 20px;
}

#proj1-container, #proj2-container, #proj3-container {
    text-align: justify;
    text-justify: inter-word;
    width: 98%;
}

.details {
    font-size: 18px;
    margin-left: 60px;
}

#link1 {
    color: white;
    font-size: 18px;
    text-align: left;
    margin-left: 60px;
}
